[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flickrapi = "*"
pyyaml = "*"
jupyter = "*"
google-cloud-storage = "*"
google-resumable-media = "*"
google-auth = "*"
opencv-python = "*"
pillow = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
